@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(110deg, #f93d66, #6d47d9);
    background-attachment: fixed;
    font-size: 18px;
}
.wrapper{
    margin: 60px 50px;
}
.wrapper .nav ul{
    list-style-type: none;
    grid-gap: 10px;
}
.wrapper .nav ul li{
    padding: 13px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
.bg-top{
    background-image: url("../images/taco.jpg");
    background-position: center;
    height: 400px;
}
.top{
    margin-top: 40px;
}
.top h1{
    font-weight: lighter;
    font-size: 60px;
}
.top p{
    font-weight: bold;
}
.top .bg-top .hero{
    padding: 50px;
    height: 100%;
    justify-content: center;
}
.top .bg-top .hero h2, .top .bg-top .hero p{
    margin: 10px 0;
    padding: 5px;
    max-width: 250px;
    min-width: 150px;
    background-color: var(--yellow);
}
.top .bg-top .hero p{
    max-width: 170px;
}
.features{
    gap: 20px;
    margin-top: 20px;
}
.feature{
    background-color: var(--white);
    padding: 15px;
}
.feature :first-child{
    font-size: 40px;
}
.about{
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: var(--white);
    min-height: 350px;
    width: 100%;
}
.about img{
    padding: 30px;
    width: 100%;
}
.about div{
    padding: 30px;
    justify-content: center;
    line-height: 1.8;
    font-weight: bold;

}
.about div :last-child{
    font-weight: 100;
    background-color: var(--yellow);
    width: 130px;
    margin-top: 1rem;
    font-size: 15px;
}
.gallery{
    margin-top: 20px;
    gap: 20px;
}
.gallery img{
    width: 100%;
}